<div class="container">
<h1 class="d-flex justify-content-center">投稿編集</h1>

<div class="d-flex justify-content-center">
<%= form_with model:@post do |form|%>
<div><%= form.label :title ,class:"mr-3"%><%= form.text_field:title%></div>
<div><%= form.label :content%><%= form.text_area:content%></div>
<div><%= form.submit "更新",class:"link-button"%></div>
<%end%>
</div>
</div>
